body {
  margin-top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background: url('./resource/image/logo512.png') center right no-repeat currentColor;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Roboto', sans-serif;
}
